/* html, 
body {
    height: 100%;
} */

.top-menu {
    position: absolute;
    top: 0px;
    width:100%;
    height: 50px;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.video-local {
    position:absolute;
    top:0px;
    background: #444;
    width:100%;
   /*  height:100%; */
    z-index:0;
}

.screenshare  {
    position:absolute;
    top:0px;
    background: #999;
    width:50%;
    margin-left: 50%;
    height:100%;
    z-index:0;
}

.bottom-filmstrip {
    position: absolute;
    bottom: 1px;
    width:100%;
    height: 160px;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.menu-icon {
    padding:10px;
    height:30px;
    font-size: 30px;
    color:white;
    float: right;
}

.profile {
    float: left;
}

.profile>.menu-icon{
    float:left;
}

.profile-text {
    color:white;
    padding-top:15px;
    font-size: 20px;
    float:left;
}

.filmstrip-icon {
    float:left;
    padding-top:15px;
    margin:10px;
    height:130px;
    width: 150px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.5);
    font-size:60px;
    text-align:center;
}

.online {
    color: green;
}

.offline {
    color:#333;
}

.filmstrip-text {
    font-size: 30px;
    position:relative;
    bottom:20px;
}

