/*
 * @package AngularJS
 * @version 2
 * @File Type: CSS
 * @Author Gnanavel
 * @created date 8 Mar 2017
 * @Description  This is custom css file which contain all the external styles for various html elements 
*/


/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.section {padding:0 !important;}

.profile-icon1 i {
    font-size: 36px;
    color: #333;
}

ul.student2 {
    margin-top: -2px;
}

.border-btm {
	border-bottom:2px solid #ccc;
}
.time-dis {
    border: 2px solid #333;
    padding: 3px;
    font-weight: bold;
    margin-top: 5px;
}
.right0 {
    float: right;
}

.btn-bg {
    background: #ccc !important;
}

.col-width3 {margin-top:30px !important;}

.drop-cont1 {
    width: 683px !important;
    border-top: 2px solid #7e7d7d;
	border-bottom: 2px solid #7e7d7d;
    border-right: 2px solid #7e7d7d;
    margin-top: -25px !important;
    margin-left: -20px !important;
}
.btn-bg1:hover {
    background: rgb(7, 169, 154) !important;
    color: #fff;
}

.btn-bg1 {background:rgba(0, 0, 0, 0.1) !important;}

.btn-bg:hover {
    background: rgb(7, 169, 154) !important;
    color: #fff;
}

.doc-share0 ul li {
    width: 75px !important;
    padding-left: 35px;
}

.left.doc-share0 ul li a {
    padding: 20px !important;
    margin: -30px !important;
}

.left.doc-share0 ul li a:hover {
    background: #ccc;
    padding: 20px !important;
    margin: -30px !important;
}
.white-icons .material-icons{
	color:#009e11; 
	border:1px solid #009e11; 
	border-radius:2px
}
.white-icons1 .material-icons{
	color:#6f6f6f; 
	border:1px solid #6f6f6f; 
	border-radius:2px
}

.white-icons4 .material-icons{
	color:#6f6f6f; 
	border:1px solid #6f6f6f; 
	border-radius:2px
}
.white-icons4 {
    margin-top: 6px;
}

.drop-cont0 ul li {font-size:10px;}

.drop-cont0 ul li a i {
    padding-left: 10px;
}

.drop-cont0 ul li a{}

.white-icons{
	margin-top:3px
}
.top_head {
	border-bottom:2px solid #ccc;
}
.vertical-line {
	border-right:2px solid #ccc; 
}
.screen1 {
    font-size: 14px;
    text-align: left;
}
.icons1 li {
    display: inline;
    padding: 16px 5px 8px 5px;
}
.row { 
	margin-bottom:0 !important;
}
ul.icons1 {
    margin: 5px !important;
}
.student1 {    
	height: 80px;
    overflow-y: scroll;
    /* position: absolute;
    bottom: 0; */
}

.chat-user0 {
    border-bottom: 2px solid #333;
	position: relative;
	z-index: 99;
}



.sub-icon1 {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid #333;
    margin-bottom: 5px;
    font-size: 14px !important;
}

.sub-icon0 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -10px;
    border: 1px solid #333;
    font-size: 14px !important;
}

.chat-user0 p {
    font-size: 14px;
}

.student-prof {
    position: relative;
	border: 2px solid #7e7d7d;
    padding-top: 57px;
}

.prof1 {
    position: relative;
    z-index: 1;
}

.student2 li {
    display: inline;
}

.icon-t1 {
    position: absolute;
    z-index: 3;
    left: 0px;
    top: 5px;
    color: #333;
}

.icon-t2 {
    position: absolute;
    z-index: 3;
    left: 20%;
    top: 52%;
    color: #000;
    background: #fff;
    border-radius: 9px;
    padding: 0 8px;
}

.icon-t3 {
    position: absolute;
    z-index: 3;
    left: 0%;
    top: 60%;
    color: #000;
    background: #fff;
    border-radius: 9px;
    padding: 0 8px;
    font-size: 14px;
}

.section.bodywidth0 {
    position: relative;
}

.up-arrow1 {
    position: absolute;
    bottom: 0px !important;
    left: 20px;
	z-index:9999999999;
}

.dropdown-content {min-width:300px !important;}

.dropdown-content li > a, .dropdown-content li > span {
     padding: 0 10px 11px !important;
    font-size: 12px !important;
    text-transform: capitalize !important;
	
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
    background: none !important;
}

.tabwidth0 {
	width:125px !important;
}

.uncolored-icons .material-icons{color:#000; border:1px solid #000}
.white-icons.uncolored-icons span {
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
	background: #e06666;
}
.white-icons.uncolored-icons {
    position: relative;
}
.white-icons.uncolored-icons span p{
	bottom: -15px;
position: absolute;
right: 6px;
font-size: 14px;
color:#fff
}
.white-icons2 .material-icons{color:#e06666; border:1px solid #e06666;}
.icons-icons-last li:last-child{border-right:2px solid #ccc; padding-right:20px}
.icons-icons-last-01 li:first-child{border-left:2px solid #ccc; padding-left:20px}
.icons1.icons-icons-last-01 li {
left: 31px; position: relative;}
.section-01{
    height: 300px;
}
.border-right-row {
   border-right: 2px solid #7e7d7d;
    top: 0px;
    position: relative;
}

/* .icon-block.center .u-prof {
    margin-top: 180px !important;
} */

.section-width0 {
   min-height: 350px;
}

p.text-iconbtn {
    font-size: 11px;
}

.centicon0 {padding-left:9px;}

.col-width0 {
    height: 450px;
}
.bodywidth0 {height:450px;}
.icon-block.center .user-prof {
    padding-top: 150px;
    font-size: 34px;
}
.right.right-09 {
    /* left: 12px; */
    position: relative;
    /*top: 20px;*/
	z-index:9999999;
}
.right.right-08 {
    left: 11px;
    position: relative;
    top: -30px;
	z-index:9999999;
}
.icon-block .student1{
top: -70px;
position: relative;}
.icon-block .user-prof-01 {
    /* border-bottom: 2px solid #7e7d7d; */
    padding: 0;
    font-size: 34px;
    padding-top: 130px;
}
.icon-block.center.mob-width0 {
    border-bottom: 2px solid #7e7d7d;
    height: 212px;
}
.icon-block.center.mob-width2 {
   /*  border-bottom: 2px solid #7e7d7d; */
    height: 212px;
}

.col.s12.m6.l6.border-right-row {
    padding: 0;
}
.icon-block .user-prof-02 {
    padding: 0;
    font-size: 34px;
    padding-top: 100px;
}


.popup-modelz {
    width: 20% !important;
}

.popup-modelz .modal-footer {
    font-size: 14px;
}

.popup-modelz .modal-footer a {
    width: 50%;
    padding: 0px 0px 0px 15px;
    margin: -15px auto !important;
    text-transform: capitalize;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}

.popup-modelz1 .modal-footer {
    font-size: 14px;
}

.popup-modelz1 .modal-footer a {
    width: 50%;
    padding: 0px 0px 0px 20px;
    margin: -15px auto !important;
    text-transform: capitalize;
}

.popup-modelz1 {
    width: 20% !important;
}

.popup-modelz1 .modal-content p i {
    float: right !important;
    padding-right: 50px;
}

.list1 li{display:table-cell; padding: 20px;}
.list1 li .material-icons{color:#777; font-size:50px}
.list1 li a{color:#777}
.angular-chat .material-icons{color:#777 !important; top:10px; position:relative; font-size:30px}
li.right-icons a {
    margin-top: -35px;
    text-align: right;
}
ul#demoDropdown {
    border: 1px solid rgba(0, 0, 0, 0.58);
    border-radius: 4px;
    padding: 7px;
}
/*.dropdown-content .chat-chat a {
    border-bottom: 2px solid #000;
	    background-color: #ddd;
}*/

.nm {
    border-bottom: 2px solid #000;
    background-color: #ddd;
    padding: 0px 10px;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	    z-index: -999;
}
li.angular-chat {
    position: relative;
    top: 31px;
}
li.angular-chat p {
    margin-top: 15px;
    margin-bottom: 48px;
}
.drop-drop li > a, .drop-drop li > span {
   
    color: #000 !important;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    font-size: 16px;
    font-weight: bold;
}
.drop-drop li > a, .drop-drop li > span {
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 0px !important;
    padding: 14px 16px;
}
.hfvgbg li{display: list-item;}
.left-pixel{
    top: -20px !important;
    position: relative;
}
.screen-button{
    top:-10px;
    position:relative;
    padding:10px 10px 10px 10px;
    border:solid 1px black;
    cursor:pointer;
}


.video-container
{
	height: 100% !important;
	  padding-bottom: 0 !important;
}



.but-scrn
{
	width:160px;
	position:absolute;
	bottom:4px;
	right:0px;
	z-index:67867887;
}

.border-right-row {
   border-bottom: 2px solid #7e7d7d;
    
}

.pro-box
{
	width:300px;
	
}

.pro-box .user-prof
{
	width:300px;
}

.col-width-scr2 {
    height:470px;
}

.col-scr3 {
    height:469px;
	 border-bottom: 2px solid #7e7d7d;
}

.col-scr3 .right.right-08
{
	 top: 0 !important;
	 z-index:9999999;
}

.footer-sec
{
	
    position: absolute;
    left: 0;
   /*  bottom: 0; */
    height:auto;
    width: 100%;
    overflow:hidden;
}

.header-sec
{
	height:10%;
}


.content-body-sec
{
    position:relative;
    top:0;
	height:80%;
}


/* .footer-sec
{
	height:15%;
} */

.main-wrap0 {max-width:100% !important;}


#demoDropdown1 .tabs .tab a
{
	color:#000 !important;
	font-size:13px !important;
	font-weight:bold;
	 padding-top: 10px !important;

}

#test1 .dropdown-content li > a, .dropdown-content li > span
{
color:#000 !important;	
}

ul#demoDropdown
{
	top:30px !important;
	z-index:99999999999999;
}

#demoDropdown .dropdown-content
{
	top:30px !important;
	z-index:99999999999999;
	border: 1px solid rgba(0, 0, 0, 0.58);
}

#demoDropdown1.dropdown-content
{
	top:30px !important;
	z-index:99999999999999;
	border: 1px solid rgba(0, 0, 0, 0.58);
}


#demoDropdown1.dropdown-content li > a{
  
	 color: #333 !important;
	 font-size: 12px !important;
	 font-weight: bold;
	 border-bottom:1px solid #a1a1a1 !important;
}

#demoDropdown5.dropdown-content li > a{
  
	 color: #333 !important;
	 font-size: 12px !important;
	 font-weight: bold;
	 border-bottom:1px solid #a1a1a1 !important;
}

.dropdown-content li > a:last-child{
  
	
	 	border-bottom:none;
}

#demoDropdown1.dropdown-content li > a > i
{
  
	 color: #777 !important;
}


#demoDropdown1 .tabs .indicator {
    background-color: #fff;
	height:0px !important; 
}

/* .tabwidth0 .active
{
background-color: #dddddd !important;	
	
}
 */
 
 #demoDropdown1 .col
 {
	 padding:0px;
 }
 
 .tabs .tabwidth0 .active
 {
	background-color: #dddddd !important;	 
 }
 
 #demoDropdown1 .tabwidth0
 {
	 width: 138px !important;
 }
 
  #demoDropdown1 .tabs
  {
	 border-bottom:2px solid #333 !important; 
  }
  
  
#btm-fileshare .dropdown-content
{
	  top:-81px !important;
   
}

#demoDropdown5.dropdown-content
{
top: 83px !important;
}

.align-right
{
	float:right !important;
}


.white-icons4 {
    float: right;
   right: 10px;
   position: absolute;
   top: 44px;
   }









