<!-- ====================================================== -->
<!-- Header -->
<!-- ====================================================== -->
<header class="navbar-fixed" id="top-nav">

    <nav style="padding-right:0px;">
        <div class="nav-wrapper">

            <ul class="hide-on-small-only">
                <li ng-repeat="menu in app.menu.left" class="{{menu.class}}">
                    <a ui-sref="{{ menu.sref }}">{{ menu.label.toUpperCase() }}</a>
                </li>
            </ul>
            <ul class="right">
                <li ng-hide="app.isSignedIn"><a ui-sref="login">{{ translate.login }}</a></li>

                <li class="hide-on-small-only " ng-if="app.isSignedIn" style="height:56px">
                    <a style="height:inherit" class="dropdown-button valign-wrapper" id="nav-dropdown" dropdown data-hover="true" data-beloworigin="true"
                        data-activates="nav-dropdown-list">
                        <img src="/assets/img/profile.png" alt="" class="circle" height="100%">
                    </a>
                </li>
                <li ng-if="app.isSignedIn"><a ng-click="app.confirmLogout()">{{ translate.dropdown_logout }}</a></li>
            </ul>
        </div>
    </nav>

</header>

<!-------------------------------------------------------------------->
<!----------------------------- Content ------------------------------>
<!-------------------------------------------------------------------->
<main>
    <div ui-view id="top" class="state-transition" style="min-height: calc(100vh - 108px)"></div>
</main>