<!DOCTYPE html>
<html ng-app="Intelligence" ng-controller="MainController">
    <head>
        <!--  <base href="/"> -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inspiration Point</title>

        <!--  Style Dependencies  -->
        <link rel="stylesheet" href="libs/loading-bar.css">
        <link rel="stylesheet" href="libs/animate.css">
        <link rel="stylesheet" href="libs/materialdesignicons.min.css">
        <link rel="stylesheet" href="libs/material-icons.css">
        <link rel="stylesheet" href="libs/materialize.min.css">
		
		<link rel="stylesheet" href="css/custom.css">
		<link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="css/classroom.css">
		<script src="libs/angular-animate.min.js"></script>
        <script src="libs/strophe/strophe.js"></script>
        <script src="libs/strophe/strophe.disco.min.js?v=1"></script>
        <script src="lib-jitsi-meet.js"></script>
        <script src="classroom-app.js" ></script>
			
       <!-- <script src="app/main/whiteboard/controllers/main.controller.js"></script>
		<script src="app/main/whiteboard/controllers/main.controller.spec.js"></script>
		<script src="app/main/whiteboard/controllers/user.controller.js"></script>
			

        <!--  Preload Dependencies  -->
        <script src="libs/jquery2.1.3.min.js"></script>
        <script src="libs/angular.min.1.5.7.js"></script>
		
		<!--  Dependencies  -->
		 <script src="libs/materialize.js"></script>
        <script src="libs/materialize.min.js"></script>
        <script src="libs/angular-materialize.min.js"></script>
        <script src="libs/angular-ui-router.min.js"></script>
        <script src="libs/angular-sanitize.min.js"></script>
       

        <!--<script src="/libs/angular-animate.min.js"></script>-->
        <script src="libs/angular-animate.min.js"></script>
        <script src="libs/angular-aria.min.js"></script>
        <script src="libs/angular-messages.min.js"></script>
        <script src="libs/angular-recaptcha.min.js"></script>
        <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
        <script src="libs/angular-websocket.min.js"></script>
        <script src="libs/moment-with-locales.min.js"></script>
        <script src="libs/angular-moment.min.js"></script>
        <script src="libs/loading-bar.js"></script>
        
        <!--  Intelligent Module  -->
        <script src="module.js"></script>
        <script src="config.js"></script>
        <script src="constant.js"></script>
        <script src="commons/data/http-service.js"></script>
        <script src="commons/data/data-service.js"></script>
        <script src="run.js"></script>
        <script src="app/main/whiteboard/controllers/user.controller.js"></script>
        <script src="commons/loading/directive.js"></script>
        <script src="commons/dialog/dialog.js"></script>
        <script src="commons/dialog/modal-controller.js"></script>
        
        <script src="commons/user/factory.js"></script>

        <!-- login -->
        <script src="app/main/login/controller.js"></script>

        <!-- EVENT -->
        <script src="app/main/event/controller.js"></script>
        <script src="app/main/whiteboard/controller.js"></script>
        
    </head>

  <body class="main-wrap0">
                                    
  
<!-- Header start here -->
<div class="header-sec">
    <div class="section">
        <div class="row border-btm">
            
            <div class="col s12 m12 l4 pro-box">
                <div class="col s2 m1 l2">
                    <div class="profile-icon1">
                        <a href=""><i class="material-icons">account_circle</i></a>
                    </div>
                </div>
          
                <div class="col s10 m11 l10">
                    <div class="icon-block" ng-repeat="x in event_details">
                        <h6 class="user-prof"> Hosted by {{x.teacher_firstname}} {{x.teacher_lastname}} </h6>
                    </div>
                </div>
            </div>
            
            <div class="col s12 m12 l4">
                <div class="icon-block" ng-repeat="x in event_details">
                    <h6 class="user-prof center test99"> YourFlairs Present: {{x.event}} </h6>
                </div>
            </div>
            
            <div class="col s12 m12 l4">
                <div class="col s8 m8">
                    <ul class="icons1 right0">
                        <li class="white-icons1">
                            <a href="">
                                <i class="material-icons">settings</i>
                            </a>
                        </li>
                        
                        <li class="white-icons"><a href=""><i class="material-icons">mic</i></a></li>
                        
                        <li class='white-icons uncolored-icons dropdown-button1' href='javascript:void(0);' data-activates='demoDropdown1' dropdown data-hover="true"><a href=""><i class="material-icons">share</i><span><p>5</p></span></a>
                            <div  id='demoDropdown1' class='row dropdown-content'>
							<div class="col s12">
							  <ul class="tabs">
								<li class="tab tabwidth0"><a class="active" href="#test1">View sharescreen</a></li>
								<li class="tab tabwidth0"><a href="#test2">Request to screenshare</a></li>
							  </ul>
							</div>
							
							<div id="test1" class="col s12">
								<ul> 
									<li ng-repeat="x in file_shared_students"><a href="">{{x.firstname}}<i class="material-icons left">account_circle</i></a></li>

									
								</ul>
							</div>
							<div id="test2" class="col s12">
								<ul>
									<li><a href="#modal1">Firstname of student 2 <i class="material-icons left">account_circle</i></a></li>
									<li><a href="#modal">Firstname of student 2 <i class="material-icons left">account_circle</i></a></li>
									<li><a href="">Firstname of student 2 <i class="material-icons left">account_circle</i></a></li>
									<li><a href="">Firstname of student 2 <i class="material-icons left">account_circle</i></a></li>
									<li><a href="">Firstname of student 2 <i class="material-icons left">account_circle</i></a></li>
								</ul>
							</div>
						</div>
					</li>
                    <!--    <li class="white-icons1"><a href=""><i class="material-icons">message</i></a></li>-->
                    <li class='white-icons uncolored-icons dropdown-button chatting-seting' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true"><a href=""><i class="material-icons">message</i><span><p>3</p></span></a>
                        <ul id='demoDropdown' class='dropdown-content drop-drop'>
                        
                        <div class="row">
                            <div class="right">
                                <a href=""><img class="responsive-img" src="assets\images\icons\minus.png"></a>
                                <a href=""><img class="responsive-img" src="assets\images\icons\remove.png"></a>
                            </div>
                        </div>
                        



    
                <div class="nm"><li class="chat-chat"><a href="javascript:void(0);">Chatting to <i class="material-icons">account_circle</i> Firstname of student2</a></li>
				</div>
				 <div ng-repeat="x in chat_message" >
					<li class="angular-chat" ng-if="x.user_type == 'Other' "><a href="javascript:void(0);"> <i class="material-icons">account_circle</i>{{x.firstname}}</a><p>{{x.message}}</p></li>
					<li class="right right-icons" ng-if="x.user_type == 'Myself' "><a href="javascript:void(0);">{{x.message}}</a></li>
				</div>
				
				 <div class="panel-footer">
					<div class="input-group">
						<input id="btn-input" type="text" class="form-control input-sm chat-msg-box" placeholder="Type your message here..." />
						<span class="input-group-btn">
							<button class="btn btn-warning btn-sm" id="btn-chat" ng-click="chat();" >
								Send</button>
						</span>
					</div>
				</div>
			</ul>
			</li>
		</ul>
	</div>
			<div class="col s4 m4">
				<div class="icon-block center">
					<h6 class="time-dis"> 1 : 55 :67 </h6>
				</div>
			</div>
		</div>
            
            
            
        </div>
        <div class="row top_head">
            <div class="col s12 m6 l4 mob-v1">
                <ul class="icons1">
                    <li class="screen1">Screen 1</li>
                    <li class="white-icons"><a href=""><i class="material-icons start-publish" onclick="publishTracks()">play_circle_filled</i></a></li>
                    <li class="white-icons1"><a href=""><i class="material-icons stop-publish" onclick="unpublishTracks()">pause_circle_filled</i></a></li>
                    <li class="white-icons"><a href="" onclick="switchVideo()"><i class="material-icons">videocam</i></a></li>
                    <li class="white-icons1"><a href=""><i class="material-icons">cloud_upload</i></a></li>
                    <li class='white-icons1 dropdown-button' href='javascript:void(0);' data-activates='demoDropdown5' dropdown data-hover="true"><a href=""><i class="material-icons">folder</i></a>
                        <ul id='demoDropdown5' class='dropdown-content'>
                            <li><a href="javascript:void(0);">File List</a></li>
                            <li><a href="javascript:void(0);">algebra 2.doc <i class="material-icons right">clear</i></a></li>
                            <li><a href="javascript:void(0);">algebra 3.doc <i class="material-icons right">clear</i></a></li>
                            <li><a href="javascript:void(0);">algebra 4.doc <i class="material-icons right">clear</i></a></li>
                            <li><a href="javascript:void(0);">algebra 5.doc <i class="material-icons right">clear</i></a></li>
                        </ul>
                    </li>
                    <li class="vertical-line"></li>
                </ul>
            </div>
			  <div class="col s12 m6 l4 mob-v1 align-right">
                <ul class="icons1">
				<li class="vertical-line"></li>
                    <li class="screen1">Screen 2</li>
                    <li class="white-icons"><a href=""><i class="material-icons">play_circle_filled</i></a></li>
                    <li class="white-icons1"><a href=""><i class="material-icons">pause_circle_filled</i></a></li>
                    <li class="white-icons"><a href="" onclick="switchVideo()"><i class="material-icons">videocam</i></a></li>
                    <li class="white-icons1"><a href=""><i class="material-icons">cloud_upload</i></a></li>
                    <li class='white-icons1 dropdown-button' href='javascript:void(0);' data-activates='demoDropdown5' dropdown data-hover="true"><a href=""><i class="material-icons">folder</i></a>
                        <ul id='demoDropdown5' class='dropdown-content'>
                            <li><a href="javascript:void(0);">File List</a></li>
                            <li><a href="javascript:void(0);">algebra 2.doc <i class="material-icons right">clear</i></a></li>
                            <li><a href="javascript:void(0);">algebra 3.doc <i class="material-icons right">clear</i></a></li>
                            <li><a href="javascript:void(0);">algebra 4.doc <i class="material-icons right">clear</i></a></li>
                            <li><a href="javascript:void(0);">algebra 5.doc <i class="material-icons right">clear</i></a></li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
            <div class="col s12 m1 l4">
                <div class="icon-block">
                    <h6 class="user-prof center">  </h6>
                </div>
            </div>
            <div class="col s12 m5 l4">
                <div class="col s2 m2 right">
                    <div class="white-icons4">
                        <a href=""><i class="material-icons">view_agenda</i></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>






<!--------------------------------------------------Popup Models ------------------------------------------------------------------!>
<!-- Modal Trigger -->
  

  <!-- Modal Structure -->
  <div id="modal1" class="modal popup-modelz">
    <div class="modal-content">
	<p>(This msg will be show on student screen)</p>
      <p><i class="material-icons left">account_circle</i> The host request to view you screen</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat btn-bg">Decline Request</a>
	  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat btn-bg1">Give Permission</a>
    </div>
  </div>



  <!-- Modal Structure -->
  <div id="modal" class="modal popup-modelz1">
    <div class="modal-content">
      <p>Requesting to View <i class="material-icons left">account_circle</i> </p> 
	  <p>Firstname of student4 screen </p>
	  <p>please wait ... </p>
    </div>
    <!-- <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Decline Request</a>
	  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Give Permission</a>
    </div> -->
  </div>    
<!--------------------------------------------------Popup Models ------------------------------------------------------------------!>





<!-- Header ends here -->
	
	
	<div class="content-body-sec">
        <div class="video-container" ui-view></div>
	</div>


<!-- Footer start here-->


<div class="footer-sec">
  <div class="section">
    <div class="icon-block student1">
        <ul class="student2">
            <li class="student-prof">
                <a class="prof1" href=""><img class="responsive-img" src="assets\images\icons\4.png"></a>
                <div class="icon-t2">{{(students | filter: {status: 'Online'}).length}}/{{students.length}}</div>
            </li>
            <li class="student-prof" ng-repeat="x in students" ng-if="x.status == 'Online' ">
                <a class="prof1" href=""><img class="responsive-img" src="assets\images\icons\5.png"></a>
                <a class="icon-t1" href=""><i class="material-icons">mic</i></a>
                <div class="icon-t3">{{x.firstname}}</div>
            </li>
            <li class="student-prof" ng-repeat="x in students" ng-if="x.status == 'Idle' ">
                <a class="prof1" href=""><img class="responsive-img" src="assets\images\icons\6.png"></a>
                <div class="icon-t3">{{x.firstname}}</div>
            </li>
            <li class="student-prof" ng-repeat="x in students" ng-if="x.status == 'Offline' ">
                <a class="prof1" href=""><img class="responsive-img" src="assets\images\icons\7.png"></a>
                <div class="icon-t3">{{x.firstname}}</div>
            </li>
        </ul>
    </div>
  </div>
</div>


<!-- Footer ends here-->    

 </body>
</html>
