/*
 * @package AngularJS
 * @version 2
 * @File Type: CSS
 * @Author Gnanavel
 * @created date 8 Mar 2017
 * @Description  This is responsive css file which contain responsive styles
*/

@media (min-width: 1400px) {
/* .up-arrow1 {
    top: 75% !important;
} */
.main-wrap0 {max-width:1400px; overflow-x:hidden; margin: 0 auto; border: 2px solid #ccc;}
}


/* Large desktops and laptops */
@media (min-width: 1200px) {

.main-wrap0 {max-width:1400px; overflow-x:hidden; margin: 0 auto; }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
/* .up-arrow1 {
    top: 66% !important;
}
 */
.mob-width0 {
    height: 200px;
    border-bottom: 2px solid #7e7d7d;
}
.mob-width01 {
    height: 413px;
    border-bottom: 2px solid #7e7d7d;
}
.icon-block .user-prof-01 {
    border-bottom: none;
    padding: 0;
    font-size: 20px;
    padding-top: 75px;
}
.border-right-row {
    padding: 0 !important;
}

.popup-modelz {
    width: 50% !important;
}
.popup-modelz1 {
    width: 50% !important;
}

.icon-block.center .user-prof {
    /* margin-top: 150px; */
    font-size: 20px;
}
.icon-block .user-prof-02 {
    padding: 0;
    font-size: 20px;
    padding-top: 60px;
}
.right.right-09 {
    left: 0px;
    position: relative;
}

.student-prof {
    margin: -2px;
}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

/* .up-arrow1 {
    top: 45% !important;
} */
.mob-width0 {
    height: 175px;
    border-bottom: 2px solid #7e7d7d;
}
.mob-width01 {
    height: 360px;
    border-bottom: 2px solid #7e7d7d;
}

.popup-modelz {
    width: 60% !important;
}
.popup-modelz1 {
    width: 60% !important;
}

.icon-block .user-prof-01 {
    border-bottom: none;
    padding: 0;
    font-size: 20px;
    padding-top: 75px;
}
.border-right-row {
    padding: 0 !important;
}
.icon-block.center .user-prof {
    /* margin-top: 150px; */
    font-size: 20px;
}
.icon-block .user-prof-02 {
    padding: 0;
    font-size: 20px;
    padding-top: 60px;
}
.right.right-09 {
    left: 0px;
    position: relative;
}

.student-prof {
    margin: -2px;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

.bodywidth0 {
    height: 300px;
}

/* .up-arrow1 {
    position: absolute;
    top: 40%;
    left: 20px;
} */

.icon-block.center .user-prof {
   /*  margin-top:95px; */
}

.popup-modelz {
    width: 80% !important;
}
.popup-modelz1 {
    width: 80% !important;
}

.col-width0 {
    height: 175px;
}
.icon-block.center .u-prof {
    margin-top: 100px !important;
}
.none-cmd0 {display:none;}

.icon-block.center .u-prof {
    margin-top: 100px !important;
    font-size: 20px;
}

.icon-block.center .user-prof {
    /* margin-top: 75px; */
    font-size: 20px;
}
.section-width0 {
    min-height: 175px;
}

.mob-width0 {
    height: 175px;
    border-bottom: 2px solid #7e7d7d;
}
.mob-width01 {
    height: 360px;
    border-bottom: 2px solid #7e7d7d;
}
.icon-block .user-prof-01 {
    border-bottom: none;
    padding: 0;
    font-size: 20px;
    padding-top: 75px;
}
.border-right-row {
    padding: 0 !important;
}

.icon-block .user-prof-02 {
    padding: 0;
    font-size: 20px;
    padding-top: 60px;
}
.right.right-09 {
    left: 0px;
    position: relative;
}

.student-prof {
    margin: -2px;
}
}


@media (max-width: 568px) {

.mob-v1 {
    border-bottom: 2px solid #ccc;
}

.bodywidth0 {
    height: 200px;
}
.icon-block.center .user-prof {
   /*  margin-top: 55px; */
    font-size: 20px;
}

/* .up-arrow1 {
    top: 430px !important;
} */
.border-right-row {
    border-right: none;
    position: relative;
	border-bottom: 2px solid #7e7d7d;
}



}

/* Portrait phones and smaller */
@media (max-width: 480px) {

.dropdown-content {
    left: 9px !important;
}

.drop-cont1 {
    width: 80% !important;
    border-top: 2px solid #7e7d7d;
	border-bottom: 2px solid #7e7d7d;
    border-right: 2px solid #7e7d7d;
	border-left: 2px solid #7e7d7d;
    margin-top: -35px !important;
    margin-left: -20px !important;
}

.popup-modelz {
    width: 80% !important;
}
.popup-modelz1 {
    width: 80% !important;
}

.mob-v1 {
    border-bottom: 2px solid #ccc;
}
.icon-block.center .user-prof {
    /* margin-top: 55px; */
    font-size: 20px;
}

.bodywidth0 {
    height: 200px;
}

.student-prof {
    
    margin: -1px;
}

/* .up-arrow1 {
    top: 435px !important;
} */
.col-width0 {
    height: 200px;
}
.icon-block.center .u-prof {
    margin-top: 100px !important;
}
.border-right-row {
    border-right: none;
    position: relative;
	border-bottom: 2px solid #7e7d7d;
}
.mob-width0 {
    height: 175px;
    border-bottom: 2px solid #7e7d7d;
}
.icon-block .user-prof-01 {
    border-bottom: none;
    padding: 0;
    font-size: 20px;
    padding-top: 75px;
}
.border-right-row {
    padding: 0 !important;
}

.icon-block .user-prof-02 {
    padding: 0;
    font-size: 20px;
    padding-top: 60px;
}
.right.right-09 {
    left: 0px;
    position: relative;
}

.student-prof {
    margin: -2px;
}
.icon-block.center .user-prof {
    padding-top: 70px;
}



}
