<!--
 * @package AngularJS
 * @version 2
 * @File Type: HTML
 * @Author Gnanavel
 * @created date 8 Mar 2017
 * @Description  This is screen3 file which contain three split up screens
-->

<div class="section scetion-01">
<div class="row">
  <div class="col s12 m6 l6 border-right-row col-width1">
  <div class="">
		  <div class="right right-09">
			<a href=""><img class="responsive-img" src="assets\images\icons\minus.png" ng-click="screen2();"></a>
			<a href=""><img class="responsive-img" src="assets\images\icons\plus.png"></a>
			<!--<a href=""><img class="responsive-img" src="\assets\images\icons\remove.png"></a>-->
		  </div>
		</div>
	<div class="icon-block center mob-width0">
		<h3 class="user-prof-01"> Teacher Screen 1 </h3>
	</div>
			<div class="btm-fileshare icon-block up-arrow1">
		<div class='dropdown-button2 dropdown-list' href='javascript:void(0);' data-activates='demoDropdown2' dropdown data-hover="true"><a href=""><img class="responsive-img" src="assets\images\icons\up-arr.png"><!-- <i class="material-icons">arrow_drop_up</i> --></a>
			<div id='demoDropdown2' class='dropdown-content drop-cont1'>
				<div class="left doc-share0">
					<ul class="list1">
						<li><a href="javascript:void(0);"><i class="material-icons">description</i>algebra 2.doc</a></li>
						<li><a href="javascript:void(0);"><i class="material-icons">description</i>algebra 2.doc</a></li>
						<li><a href="javascript:void(0);"><i class="material-icons">description</i>algebra 2.doc</a></li>
						<li><a href="javascript:void(0);"><i class="material-icons">description</i>algebra 2.doc</a></li>
						<li><a href="javascript:void(0);"><i class="material-icons">description</i>algebra 2.doc</a></li>
						<li><a href="javascript:void(0);"><i class="material-icons">description</i>algebra 2.doc</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="">
		  <div class="right right-09">
			<a href=""><img class="responsive-img" src="assets\images\icons\minus.png" ng-click="screen2();"></a>
			<a href=""><img class="responsive-img" src="assets\images\icons\plus.png"></a>
			<!--<a href=""><img class="responsive-img" src="\assets\images\icons\remove.png"></a>-->
		  </div>
		</div>
	<div class="icon-block center mob-width2">
		<h3 class="user-prof-02"> Teacher Screen 2 </h3>
	</div>
	
  </div>
  <div class="col s12 m6 l6 col-scr3">
  <div class="">
		  <div class="right right-08">
			<a href=""><img class="responsive-img" src="assets\images\icons\minus.png" ng-click="screen2();"></a>
			<a href=""><img class="responsive-img" src="assets\images\icons\plus.png"></a>
			<a href=""><img class="responsive-img" src="assets\images\icons\remove.png"></a>
		  </div>
		</div>
	<div class="icon-block center">
		<h3 class="user-prof"> Student Screen 3 </h3>
	</div>

  </div>
  </div>
</div>


<!-- Screen tab starts here-->
<div class="but-scrn">   
    <span class="screen-button" ng-click="home();">Screen1</span>
    <span class="screen-button" ng-click="screen2();">Screen2</span>
</div>
<!-- Screen tab ends here-->




