<div class="container">
    <div class="row ">
        <div class="col s12">
            <div class="login-form">
                <div  >				
                    <form id="frmlogin" name="frmlogin" ng-submit="loginClick(frmlogin.$valid)" novalidate>
                        <div class="row row-bottom">
                            <div class="input-field col s12">
                                <h3>{{languageResult.login_title}}</h3>
                            </div>
                        </div>                       
                        <div class="row row-bottom">
                            <div class="input-field col s12">
                                <!-- <input placeholder="Placeholder" id="first_name" type="text" class="validate"> -->
                                <input type="text" id="username" name="username" ng-model="username" 
                                       class="validate" 
                                       placeholder="User Name" autocomplete="off" required/>
                                <!--  <label for="username">User Name</label> -->
                                <div class="err_msg">{{userError}}</div>			          
                                <div class="err_msg" ng-show="submitted && frmlogin.username.$error.required">{{languageResult.required_user_error_msg}}</div>
                            </div>

                        </div>
                        <div class="row row-bottom">
                            <div class="input-field col s12">
                                <input type="password" id="password" class="validate" name="password" ng-model="password"
                                       placeholder="Password" autocomplete="off" required/>
                                <!-- <label for="password">Password</label> -->
                                <div class="err_msg">{{passwordNotMatch}}</div>
                                <div class="err_msg" ng-show="submitted && frmlogin.password.$error.required">{{languageResult.required_password_error_msg}}</div>
                                 
                            </div>
                            
                        </div>

                        <div class="row row-bottom">
                            <div class="input-field col s12">
                                <div class="g-recaptcha"
                                     style="left:calc(50% - 152px);position:relative;"
                                     vc-recaptcha 
                                     key="pulicKey"
                                     on-create="setRecaptchaId(widgetId)"></div>
                                <div class="err_msg">{{reCaptchaErrorMsg}}</div>
                            </div>
                        </div>

                        <div class="row row-bottom">
                            <div class="input-field col s12">
                                <button
                                    type="submit"
                                    id="btn_submit"
                                    name="btn_submit"
                                    ng-click="submitted=true"
                                    class="btn orange darken-3 btn-width">{{languageResult.login_button}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>	
        </div>
    </div>
</div>






